<h1>Lista de Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Comprar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let instrument of instruments" [ngClass]="{'on-sale': instrument.onSale}">
            <td><img [src]="instrument.img_src" [alt]="instrument.name" class="img-thumbnail"></td>
            <td>{{instrument.name}}</td>
            <td>{{instrument.type}}</td>
            <td>{{instrument.price | currency}}</td>
            <td><span *ngIf="instrument.stock == 0" class="badge text-bg-danger">SIN STOCK</span></td>
            <td *ngIf="instrument.stock > 0" id="botonera">
                <!--se definen el quantity y el max en los atributos de la clase InputQuantityComponent-->
                <!--NOTA: Input es con []; Output es con ()-->
                <!--NOTA: el [(quantity)] es two way data binding, por lo que tambien controla al instrument.quantity-->
                <app-input-quantity [(quantity)]="instrument.quantity" [max]="instrument.stock" class="d-flex"></app-input-quantity>
            </td>
            <td><button *ngIf="instrument.stock > 0" (click)="addToCart(instrument)" class="btn btn-primary">Comprar</button></td>
        </tr>
    </tbody>
</table>
